{% extends "base.html" %} 

{% load static %}

{% block content %}

    <main class="p-4 p-md-8">
        <h1 class="text-green-700 text-center text-2xl font-bold mb-4">CONNEXION</h1>
        <div class="bg-white border border-zinc-300 p-4 p-md-8 mt-4 rounded-lg shadow-md">
        <h2 class="text-blue-700 text-center text-xl font-semibold mb-4"><strong>J'ai déja un compte</strong></h2>
        <form class="row">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
            <input type="email" placeholder="Email" class="form-control border-green-600">
            </div>
            <div class="col-12 col-md-6">
            <input type="password" placeholder="Mot de passe" class="form-control border-green-600">
            </div>
            <div class="col-12 text-center mt-3">
            <button type="submit" class="btn bg-green-700 text-white px-4 py-2 rounded">Confirmer</button>
            </div>
        </form>
        <p class="text-center mt-4">Vous n'avez pas un compte ? <a href="#" class="text-blue-700">inscrivez-vous ici</a></p>
        </div>
    </main>

{% endblock %}

    